server {
    listen 80;
    server_name your-wordpress-site.com;
    root /usr/share/nginx/html;  # Replace this with the root path of your WordPress files inside the WordPress container

    location / {
        index index.php;
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_pass wordpress-container:9000;  # Connect to the PHP-FPM container
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
